
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input , a , button {
  font-family: var(--font-parkinsans);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
button{
  cursor: pointer;
  border: none;
  border-radius: 12px;
  @supports (corner-shape: squircle) {
        corner-shape: squircle;
        border-radius: 80px; 
  }
}